.btn{
    margin-left: 12px;
}
.listItem{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 23px;
    transition: .15s ease-in-out;
    border-radius: 6px;

}

.listItem:hover{
    transform: scale(1.01);
    background: #4fe3e3;
}